/* Stili di base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F1EBEB; /* Sfondo bianco leggermente colorato */
  color: #333;
}

header {
  background-color: #0066CC; /* Colore del banner in blu */
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 18px;
  margin-top: 10px;
}

.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 10px;
  overflow: hidden; /* Per evitare che le immagini escano dal contenitore */
  background-color: #F1EBEB; /* Colore dello sfondo uguale al resto della pagina */
}

.slide {
  display: none;
  text-align: center;
}

.slide-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Stile per le frecce di navigazione come emoji */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 36px; /* Dimensione delle emoji delle frecce */
  user-select: none;
  transition: 0.6s ease;
  border-radius: 3px;
  padding: 10px;
}

.prev {
  left: 0;
  color: #333; /* Colore della freccia emoji */
}

.next {
  right: 0;
  color: #333; /* Colore della freccia emoji */
}

.prev:hover, .next:hover {
  color: #000; /* Colore della freccia quando si passa sopra */
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

/* Stili per il footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Stili per il messaggio del fondatore */
.founder-message {
  background-color: #fff;
  padding: 40px 50px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 10px;
}

.founder-message h2 {
  color: #FFC107;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.founder-message p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.founder-message strong {
  color: #4CAF50;
}

/* Miglioramento della visualizzazione sui dispositivi mobili */
@media screen and (max-width: 768px) {
  .prev, .next {
    font-size: 28px; /* Riduzione della dimensione delle frecce su mobile */
    padding: 8px;
  }

  .founder-message {
    padding: 20px 30px;
  }

  .founder-message h2 {
    font-size: 24px;
  }

  .founder-message p {
    font-size: 16px;
    line-height: 1.5;
  }

  header {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}
